<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Lab5</display-name>
  
  <context-param>
  	<param-name>Website</param-name>
  	<param-value>www.jlcindia.com</param-value>
  </context-param>	
  	<servlet>
  		<servlet-name>helloServ</servlet-name>
  		<servlet-class>com.jlcindia.servlet.HelloServlet</servlet-class>
  		<init-param>
  			<param-name>email</param-name>
  			<param-value>hellosri@jlc</param-value>
  		</init-param>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>helloServ</servlet-name>
  		<url-pattern>/hello.jc</url-pattern>
  	</servlet-mapping>
  	  
  	  <servlet>
  	  <servlet-name>haiServ</servlet-name>
  	  <servlet-class>com.jlcindia.servlet.HaiServlet</servlet-class>
  	  <init-param>
  	  	<param-name>email</param-name>
  	  	<param-value>hainivas</param-value>
  	  </init-param>
  	  </servlet>
  	  
  	  <servlet-mapping>
  	  	<servlet-name>haiServ</servlet-name>
  	  	<url-pattern>/hai.jlc</url-pattern>
  	  </servlet-mapping>
</web-app>